@import url('https://fonts.googleapis.com/css2?family=Inter+One&display=swap');

.container{
    font-family: 'Inter';
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    
   
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}
.xy{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
body{
    display: flex;
    flex-direction: column;
}
h1{
    cursor: pointer;
}

.identitas{
    width:10%;
}
.nama{
    width: 100%;
}

.score1{
    height: 100%;
    font-size:100px;
    text-align: center;
    color: #FFFFFF;
    background-color:#1E1E1E;    
}
.score1 h1{
    position: absolute;
     top: 30%; 
    left:20%;
}
.score2 h1{
    position: absolute;
     top: 30%; 
    left:72%;
}
.score2{

    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
    background-color:#222325;
    top: 30%; 
    left:72%;
    
    
}

.lawan>.pemain{
    display: flex;
    width: 100%
}
.pemain>.nama{
    background-color: #222325;
    padding: 4px;
    color:#FFFFFF;
}

.musuh>.pemain{
    display: flex;
}

.pemain>.identitas{
    background-color: #FFD600 ;
    padding: 0px;
    text-align: center;
}

.musuh>.pemain>.nama{
    background-color: #535456;
    padding: 4px;
    text-align: right;
}


@media only screen 
  and (min-device-width: 468px)
  and (orientation: landscape) {
   .identitas{
    width:20%;
    }
    .nama{
            width: 80%;
    }
    .score1,.score2{
        font-size:50px;
    }
  
    }

@media(max-width:468px){  
     .score1,.score2{
        font-size:50px;
    }
      .identitas{
    width:20%;
    }
          .score1 h1{
        position: absolute;
         top: 40%; 
        left:20%;
    }
    .score2 h1{
        position: absolute;
         top: 40%; 
        left:72%;
    }
    .nama{
        width: 80%;
    }
    .xy{
        font-size:10px;
    }
}
