@import url('https://fonts.googleapis.com/css2?family=Inter+One&display=swap');

.container{
    font-family: 'Inter';
	box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
   
}

body{
    margin: 0;
    padding: 0;
}

h1{
    cursor: pointer;
}

.identitas{
    width:10%;
    height:23px;
}
.nama{
    width: 100%;
    height:15px;
}

.score1{
    height: 98vh;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
    background-color:#1E1E1E;
     
    
}

.score2{
    height: 98vh;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
    background-color:#222325;
    top: 30%; 
    left:72%; 
    
    
}

.lawan>.pemain{
	display: flex;
}
.pemain>.nama{
	background-color: #222325;
    padding: 4px;
    color:#FFFFFF;
}

.musuh>.pemain{
    display: flex;
}

.pemain>.identitas{
	background-color: #FFD600 ;
    padding: 0px;
    text-align: center;
}

.musuh>.pemain>.nama{
	background-color: #535456;
    padding: 4px;
    text-align: right;
}

.body,html{
	height:100%;
}

@media screen and (orientation:portrait){
    .score1{
        min-height: 100%;
        top: 30%; 
        left:72%;  
    }
     .score2{
        min-height: 100%; 
        top: 30%; 
        left:22%; 
    }
}
